packages/Anaconda3-2021.04-Linux-aarch64.sh
packages/py38_rk3588.tar.gz
.vscode/
.logs/
._pycache_/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv-gst/
web_server_*.log
web_server_*.pid
events/
logs/
video_result/
captures/
